body {
  background-color: #73bfff;
  font-family: 'CalsaleTwo';
  padding: 20px;
}

a {
  text-decoration: none;
}

nav li {
  list-style-type: none;
}

footer {
  margin-top: 40px;
}

footer ul {
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}

footer li {
  margin-left: 20px;
  float: left;
  list-style-type: none;
}

.curses-container {
  background-color: #d3d3d3;
  width: 100%;
  min-width: 250px;
  padding: 4px;
}

.curses-inner-boarder {
  border-top: solid 4px #fff;
  border-left: solid 4px #fff;
  border-bottom: solid 4px #000;
  border-right: solid 4px #000;
}

.content {
  border-top: solid 4px #000;
  border-left: solid 4px #000;
  border-bottom: solid 4px #fff;
  border-right: solid 4px #fff;
  margin-left:4px;
  margin-right:4px;
}

.curses-header  {
  padding: 8px;

  /*display: flex;*/
  /*justify-content: space-around;*/
  /*flex-wrap: wrap;*/
}


.curses-header h1 {
  margin: 0px;
}

.curses-header * {
  margin-top: 8px;
}

.curses-header a {
  display: inline-block;
  background-color: #fff;
  padding: 4px;
  padding-left: 10px;
  width: calc(100% - 16px);
}

.curses-footer {
  border-top: solid 4px #fff;
  margin: 0px;
  margin-top: 4px;
  padding: 10px;
}

@media (min-width: 600px) { 

  .curses-header h1 {
    width:20%;
    display: inline-block;
    margin-right: 8px;
  }
  .curses-header a {
    width:20%;
    margin-left:8px;
    float: right;
  }
}

@media (min-width: 850px){
  .curses-header a {
    width: 10%;
  }
}
