body {
  background-color: $color-primary-bg;
  font-family: $font-primary;
  padding: 20px;
  padding-right: 35px;
}

header,footer,main {
  width:100%;
}

a {
  text-decoration: none;
  color: $color-active;
}

a:hover {
  color: $color-primary-fg;
}

nav {
  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
  }
}
