$color-red: #f42
$color-pink: #ff7a7a
$color-blue: #77affa
$color-teal: #0aa
$color-green: #27ff7a
$color-pea: $color-pink

$color-black: #000
$color-darkgrey: #26262b
$color-grey: #47474b
$color-lightgrey: #abc
$color-white: #fff

$pad: 0.5em

$font-main: 'Lato', sans-serif
$font-mono: 'Roboto Mono', monospace

@mixin retro-border ($top: $color-white, $bottom: $color-black)
  border-top: 2px solid $top
  border-left: 2px solid $top 
  border-bottom: 2px solid $bottom
  border-right: 2px solid $bottom

